body{
  font-family: Times New Roman;
  color: #222222;
  margin: 0;
  padding: 20px;
  line-height: 1.5;
  background-color: #FBF8F1;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #8B5E3C;
  font-size: 30px;
}

h2{
  text-align: left;
  margin-bottom: 5px;
  color: #4F7942;
  font-size: 20px;
}

h3{
font-family: "Comic Sans MS";
text-align: left;
margin-bottom: 5px;
color: #4F7942;
font-size: 20px;
}

img{
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

table{
  width: 100%;
  margin-top: 10px;
}

footer{
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 12px;
}
